<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>EliteDDC Show Market</title>
	<link rel="stylesheet" type="text/css" href="/css/elite.css" />
	<script type="text/javascript">
    function hideMessage()
    {
    	document.getElementById("message").style.visibility = "hidden";
    }
    </script>
</head>
<body>
	<div class="header">
		<a href="/html"><img
			src="http://img4.wikia.nocookie.net/__cb20140302021500/elite-dangerous/images/thumb/b/bc/EliteDangerousLogo2.png/100px-11,182,0,170-EliteDangerousLogo2.png" /></a>
		<h1>Elite:Dangerous Data Collection - Show Market</h1>
	</div>
	<br/><br/><br/>
	<div class="eddclisttitle">
		<span th:text="#{systemprox.comparemarkets}">Compare markets</span>
	</div>
	<br />
	<div class="eddclist" th:if="${not #lists.isEmpty(markets)}">
		<table>
			<thead>
				<tr>
					<th></th>
					<th th:each="market : ${markets}"><a th:href="@{|/html/showsystem/${market.idSolarSystem}|}" th:text="${market.solarSystemName}"></a></th>
				</tr>
				<tr>
					<!-- <th th:text="#{goods.title.category}">Category</th> -->
					<th th:text="#{goods.title.designation}">Designation</th>
					<th th:each="market : ${markets}"><a th:href="@{|/html/showstation/${market.idStation}|}" th:text="${market.stationName}"></a></th>
				</tr>
			</thead>
			<tbody th:each="cat,catStat : ${categories}">
				<tr><td th:colspan="${#lists.size(markets) + 1}"><h3 th:text="${cat.name}"></h3></td></tr>
				<tr th:each="g,gStat : ${markets[0].commodities[__${catStat.index}__].goods}">
					<td><span th:text="${designations[__${g.idDesignation - 1}__].name}"></span></td>
					<td th:each="market : ${markets}">
						<span th:text="${market.commodities[__${catStat.index}__].goods[__${gStat.index}__].status}"></span>
					</td>
				</tr>
			</tbody>
			<!-- <tbody th:each="cat,catStat : *{commodities}" >
				<tr><td colspan="4"><h2 th:text="${categories[__${cat.idCategory - 1}__].name}"></h2></td></tr>					
				<tr th:each="g,gStat : ${cat.goods}">
					<td><span th:text="${designations[__${g.idDesignation - 1}__].name}"></span>
						<input type="hidden" th:field="*{commodities[__${catStat.index}__].goods[__${gStat.index}__].idDesignation}" /></td>
					<td><input type="text" th:field="*{commodities[__${catStat.index}__].goods[__${gStat.index}__].status}" /></td>
					<td><input type="number" th:field="*{commodities[__${catStat.index}__].goods[__${gStat.index}__].number}" tabindex="-1" /></td>
					<td th:text="${{g.lastUpdated}}"></td>
				</tr>
				<tr><td colspan="4"><hr/></td></tr>
			</tbody> -->
		</table>
	</div>
</body>
</html>