<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- <head th:substituteby="header :: copy"></head> -->
<head>
	<meta charset="ISO-8859-1" />
	<title>EliteDDC Error Page</title>
	<link rel="stylesheet" type="text/css" href="/css/elite.css" />
</head>
<body>
	<div class="header">
		<img src="http://img4.wikia.nocookie.net/__cb20140302021500/elite-dangerous/images/thumb/b/bc/EliteDangerousLogo2.png/100px-11,182,0,170-EliteDangerousLogo2.png" />
		<h1>Guru Meditation (404 Not Found)</h1>
	</div>
	<br/>
  
	<p th:if="${url}">
		<b>Page:</b> <span th:text="${url}">Page URL</span>
	</p>

	<p th:if="${url == null}">
		<b>URL:</b> <span th:text="${#httpServletRequest.requestURL}">Request
			URL</span>
	</p>
	
	<p th:if="${errorCode}">
		<b>Error Code :</b> <span th:text="${errorCode}">404</span>
	</p>
	
	<p th:if="${errorMessage}">
		<b>Error Message :</b> <span th:text="${errorMessage}">Not Found</span>
	</p>

	<p th:if="${timestamp}" id='created'>
		<b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
	</p>

	<p th:if="${status}">
		<b>Response Status:</b> <span th:text="${status}">status-code</span> <span
			th:if="${error}" th:text="'('+${error}+')'">error ...</span>
	</p>

	<!--/* ${ex} is set by ourSimpleMappingExceptionResolver,
	       ${exception} or ${message} are set internally by Spring Boot. */-->
	<!-- <div
		th:if="${exception} or ${exception} or (${message} and ${message.length() != 0})">
		<b>Cause:</b> <span th:if="${exception}" th:text="${exception.message}">exception
			...</span> <span th:if="${exception}" th:text="${exception.message}">exception
			...</span> <span th:if="${message} and ${message.length() != 0}"
			th:text="${message}">message ...</span>
	</div> -->
	
	<div th:utext="'Exception: ' + ${exception}" th:remove="tag"></div>
	
	<p>
		You are seeing this error page because your request is not known or provoked an unprocessed error.
	</p>
</body>
</html>