<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>EliteDDC Find SolarSystem</title>
<link rel="stylesheet" type="text/css" href="/css/elite.css" />
</head>
<body>
	<div class="header">
		<a href="/html"><img
			src="http://img4.wikia.nocookie.net/__cb20140302021500/elite-dangerous/images/thumb/b/bc/EliteDangerousLogo2.png/100px-11,182,0,170-EliteDangerousLogo2.png" /></a>
		<h1>Elite:Dangerous Data Collection - Find Solar System</h1>
	</div>
	<br />
	<br />
	<br />
	<div class="eddcform">
		<form method="post" action="/html/findsystem">
			<label for="name" th:text="#{solarsystem}">Solar System</label>
			<input name="name" type="text" th:value="${reqname}" />
			<input type="submit" th:value="#{buttonfindweb}" name="web" />
			<input type="submit" th:value="#{buttonfindjson}" name="json" />
		</form>
	</div>
	<br />
	<div th:if="${reqname} != ''" class="eddclisttitle">
		<span th:text="#{listsystems}"></span>
	</div>
	<br/>
	<div th:if="${systems != null}" class="eddclist">
		<table>
			<thead>
				<tr>
					<th th:text="#{name}">Name</th>
					<th>X</th>
					<th>Y</th>
					<th>Z</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sys : ${systems}">
					<td><a href="/solarsystem" th:text="${{sys.name}}"
						th:href="@{|/html/showsystem/${sys.idSolarSystem}|}"
						style="width: 500px;">default name</a></td>
					<td th:text="${{sys.x}}"></td>
					<td th:text="${{sys.y}}"></td>
					<td th:text="${{sys.z}}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br />
	<div th:if="${reqname} != ''" class="eddcform">
		<span th:text="#{createsolarsystem}">Create a Solar System :</span>
		<br />
		<form action="#" th:action="@{/html/createsystem}" method="post">
			<label for="name" th:text="#{name}">Name</label>
			<input type="text" id="name" name="name" th:value="${reqname}" />
			<input type="submit" th:value="#{buttoncreate}" />
		</form>
	</div>
</body>
</html>