<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>EliteDDC Show Station</title>
	<link rel="stylesheet" type="text/css" href="/css/elite.css" />
	<script type="text/javascript">
    function hideMessage()
    {
    	document.getElementById("message").style.visibility = "hidden";
    }
    function deleteConfirm()
    {
        return confirm("Delete : "+document.getElementById("deletename").value+" ?");
	}
    </script>
</head>
<body>
	<div class="header">
		<a href="/html"><img
			src="http://img4.wikia.nocookie.net/__cb20140302021500/elite-dangerous/images/thumb/b/bc/EliteDangerousLogo2.png/100px-11,182,0,170-EliteDangerousLogo2.png" /></a>
		<h1>Elite:Dangerous Data Collection - Show Station</h1>
	</div>
	<br/><br/><br/>
	<div th:if="${updated != null}" id="message" class="eddclisttitle">This station has just been updated : <span th:text="${updated}"></span><br/></div>
	<div th:if="${created != null}" id="message" class="eddclisttitle">This station has just been created : <span th:text="${created}"></span><br/></div>
	<script>setTimeout("hideMessage()", 5000);</script>
	<div th:if="${system != null}" class="eddclisttitle">
		<span th:text="#{parentsolarsystem}+' = '">Parent Solar System = </span>
		<a href="/html/station" th:text="${{system.name}}" th:href="@{|/html/showsystem/${system.idSolarSystem}|}"></a>
	</div>
	<br />
	<div th:if="${station != null}" class="eddcform">
		<form action="#" th:action="@{/html/updatestation}" th:object="${station}" method="post">
			<input type="hidden" th:field="*{idStation}" />
			<input type="hidden" id="parentSolarSystem" name="parentSolarSystem" th:value="${system.idSolarSystem}" />
			<label for="name" th:text="#{name}">Name</label>
			<input type="text" th:field="*{name}" />
			<label for="distance" th:text="#{arrivaldistance}">Distance from point of arrival</label>
			<input type="text" th:field="*{distance}" />
			<br/><br/>
			<input type="checkbox" th:field="*{isMarket}" />
			<label for="market" th:text="#{market}">Market</label>
			<a style="margin-right: 50px;" th:if="${station.isMarket}" th:text="#{station.showmarket}" th:href="@{|/html/showmarket/${station.idStation}|}">Show Market</a>
			<a style="margin-right: 50px;" th:if="${station.isMarket}" th:text="#{station.showmarket}+' (simple)'" th:href="@{|/html/showcommodities/${station.idStation}|}">Show Commodities</a>
			<br/><br/>
			<input type="checkbox" th:field="*{isBlackMarket}" />
			<label for="blackmarket" th:text="#{blackmarket}">Black Market</label>
			<br/><br/>
			<input type="checkbox" th:field="*{isShipyard}" />
			<label for="shipyard" th:text="#{shipyard}">Shipyard</label>
			<br/><br/>
			<input type="checkbox" th:field="*{isOutfitting}" />
			<label for="outfitting" th:text="#{outfitting}">Outfitting</label>
			<input type="submit" th:value="#{buttonupdate}" />
		</form>
	</div>
	<br/>
	<div class="eddcform" th:if="${station.isMarket == true}">
		<span th:text="#{systemprox.comparemarkets}">Compare markets by proximity</span>
		<form action="#" th:action="@{/html/comparemarkets}" method="post">
			<input type="hidden" name="idSolarSystem" th:value="${system.idSolarSystem}" />
			<label for="distancemarket" th:text="#{systemprox.distance}"></label>
			<input type="number" id="distancemarket" name="distance" />
			<input type="submit" th:value="#{buttonsearch}" />
		</form>
	</div>
	<div class="footer">
		<form onSubmit="return deleteConfirm();" th:action="@{/html/removestation}" method="post">
			<input type="hidden" id="deletename" name="name" th:value="${station.name}" value="Current Solar System" />
			<input type="hidden" id="deleteid" name="id" th:value="${station.idStation}" value="-1" />
			<input type="submit" th:value="#{buttondelete}" value="Delete" />
		</form>
	</div>
</body>
</html>